@charset "UTF-8";
@font-face {
  font-family: "Typo_CrayonM";
  src: url("/game/doodle/font/Typo_CrayonM.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}