@charset "UTF8";

#container {
    max-width: 1300px;
    min-width: 300px;
    height: 1100px;
    margin: auto;
}

#title {
    padding-top: 150px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
}

#category {
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    height: 100px;
}

.leftCategory {
    border: 2px solid #ffffff00;
    border-radius: 20px 0px 0px 20px;
}

.rightCategory {
    border: 2px solid #ffffff00;
    border-radius: 0px 20px 20px 0px;
}

.game {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 700px;
}

.line {
    border: 1px solid #FFFFFF;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Box {
    width: 1073px;
    margin: auto;
    padding-top: 30px;
}

.subTitleBox, .scoreBox {
    margin-left: 20px;
}

.subTitle {
    font-size: 20px;
}

.scoreAlign {
	width: 100%;
	text-align: center;
}

.scoreBox {
    margin-bottom: 10px;
}

#rank {
    display: flex;
    align-items: center;
    font-weight: 900;
}

.userInfo {
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
}

.recordPost {
	position: relative;
}

.recordPost:before {
  content: "";
  position: absolute;
  top: 20px;
  width: 5px;
  height: 50px;
  background: #ccf423;
}

#userId {
    font-size: 18px;
}

#userLevel {
    font-size: 15px;
}

#score {
    width: 100%;
	text-align: right;
    font-size: 20px;
    font-weight: 500;
}

.pl-10 {
	padding-left: 10px !important;
}

.pl-15 {
	padding-left: 15px !important;
}