@charset "UTF-8";

.boardWrite {
	width: 100%;
}

.boardWrite_guide {
	max-width: 1300px;
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
}

form {
	width: 100%;
}

.writeTitle {
	font-weight: 900;
	font-size: 40px;
	margin-top: 100px;
	border-bottom: 1px solid;
	padding-left: 30px;
	padding-bottom: 40px;
}

.inputTitle {
	width: 100%;
	margin-top: 20px;
	padding: 15px 20px;
}

.fileBox {
	margin-top: 10px;
	border: 1px solid #7d7d7d;
	padding: 9px 20px;
}

.writebtn {
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
}

#btnAdd {
	border: none;
	padding: 5px 10px;
}

input[type=file]::file-selector-button {
	height: 30px;
	background: #ccf423;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

input[type=file]::file-selector-button:hover {
	background: rgb(77, 77, 77);
	color: #fff;
}

#summernote {
	width: 100%;
}

.writeBox {
	display: flex;
	justify-content: end;
	margin-bottom: 100px;
	margin-top: 30px;
}

.writeBox>a{
	margin-right:15px;
}
.secretBox{
	margin-top:20px;
}
.note-editor {
	margin-top: 10px;
}

/*summernote images size fix*/

.note-editable img{
  max-width: 100%;
}

@media ( max-width : 786px) {
	.writeTitle {
		font-size: 30px;
		padding-left: 0px;
	}
	.inputTitle {
		font-size: 15px;
	}
	.fileBox {
		font-size: 15px
	}
}