@charset "UTF-8";
.board {
  width: 100%;
}

.board_guide {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

.boardNav {
  width: 120px;
}

.boardNav_body {
  height: 80px;
  margin-top: 350px;
}
.boardNav_li {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
}
.boardNav_li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.boardNav_li:last-child {
  border-bottom: 1px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* boardCont */
.boardCont {
  width: calc(100% - 120px);
  margin-left: 25px;
}
.boardTitle {
  font-weight: 900;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 100px;
}

.boardTabs {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0;
  width: 100%;
  margin-top: 40px;
}

ul.boardTabs a {
  background: none;
  cursor: pointer;
  width: 33.3%;
  text-align: center;
  font-size: 20px;
}

ul.boardTabs li {
  padding: 15px;
}

ul.tabs a.current {
  background: #ededed;
}

.tab-content {
  display: none;
  margin-top: 50px;
  margin-bottom: 100px;
}

.tab-content.current {
  display: block;
}

.boardHeader {
  display: flex;
}

.boardHeader > div {
  text-align: center;
}

.num {
  width: 10%;
}
.title {
  width: 40%;
}
.writer {
  width: 15%;
}
.date {
  width: 15%;
}
.view {
  width: 10%;
}
.file {
  width: 10%;
}

.boardMain {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 15px;
}

.post {
  display: flex;
  height: 60px;
  align-items: center;
  width: 100%;
}
.post > div {
  text-align: center;
}

.post .maxBoard {
  display: flex;
  width: 100%;
  align-items: center;
}

.post .title {
  display: flex;
  align-items: center;
}

.post .title > .loud {
  font-size: 20px;
  margin-right: 10px;
}

.post .title > .mainTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post .title > .replyCnt {
  margin-left: 10px;
  font-weight: 500;
}

.post .minBoard {
  display: none;
}

.bFile {
  font-size: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search_write {
  display: flex;
  margin-top: 40px;
}
.search {
  width: 70%;
}

.search form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search form > div:not(:first-child) {
  margin-left: 15px;
}

.search form > .category > .form-select {
  padding-top: 10px;
  padding-bottom: 10px;
}
.search form > .keyword > input {
  padding: 10px 20px;
}

.write {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 15%;
}

/* board Btn */
.boardBtn {
  background-color: #ccf423;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width: 786px) {
  ul.boardTabs li {
    font-size: 15px;
    padding: 15px 0;
  }
  .boardHeader > .writer {
    display: none;
  }
  .boardHeader > .date {
    display: none;
  }
  .boardHeader > .view {
    display: none;
  }
  .boardHeader > .file {
    display: none;
  }

  .boardHeader > .title {
    width: 90%;
  }
  .post .maxBoard {
    display: none;
  }
  .post .minBoard {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .post .minBoard > .num {
    width: 10%;
  }
  .post .minBoard > .minCon {
    width: calc(90% - 30px);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .post .minBoard > .minCon > .title {
    width: 100%;
  }
  .post .minBoard > .minCon > .title > .mainTitle {
    max-width: 250px;
  }
  .post .minBoard > .minCon > .info {
    display: flex;
    width: 100%;
    text-align: start;
    font-size: 13px;
  }
  .post .minBoard > .minCon > .info > div:not(:first-child) {
    margin-left: 20px;
  }

  .search_write {
    flex-direction: column;
  }
  .search {
    width: 100%;
  }

  .search form {
    justify-content: start;
    /* width: 100%; */
  }
  .search form > .keyword {
    width: 70%;
  }
  .search form > .keyword input {
    width: 100%;
  }
  .write {
    width: 100%;
    justify-content: end;
    margin-top: 20px;
  }
}
