@charset "UTF-8";

.myPage {
	width: 100%;
}

.myPage_guide {
	max-width: 1300px;
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.nicknameInfo {
	max-width: 1300px;
	width: 100%;
	margin: auto;
	padding: 50px 0px 30px 0px;
}

.nickname {
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: 900;
}

.levelBox {
	display: flex;
	align-items: center;
}

.levelBox>.level {
	font-size: 30px;
	font-weight: 700;
}

.levelBox>.singDay {
	font-size: 20px;
	font-weight: 500;
	margin-left: 30px;
}

.memberInfo {
	width: 100%;
	padding-top: 80px;
}

.memberBasicTitle {
	width: 100%;
	border-bottom: 2px solid black;
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 30px;
}

.infoBox {
	height: 60px;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
}

.infoBox>.infoCagetory {
	width: 200px;
}

.infoBox>.infocon {
	width: 200px;
	padding: 10px;
}

.modifiedBox {
	width: 100%;
	justify-content: end;
	border: none;
}

.myPagebtn {
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.deletBtnBox {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 100px;
}

.deleteBtn {
	padding: 5px 10px;
	border-color: #7d7d7d;
	border-radius: 5px;
	margin-left: 15px;
}

.pwCheckBox {
	width: 500px;
	margin: auto;
}

.pwCheckTitle {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 700;
}

.pwCheckBox input[type="password"] {
	margin-bottom: 10px;
	padding: 8px;
}

.pwCheckBox #pwCheckBtn, #pwUpdateBtn {
	padding: 10px;
	/*margin-top: 30px;*/
	border: none;
	border-radius: 5px;
}

.phrase {
	color: red;
	font-size: 13px;
}

/* 즐겨찾는 게임 */
.favoriteTabs {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0px;
}

ul.favoriteTabs li {
	width: calc(100%/ 4);
	text-align: center;
	padding: 10px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid;
}

ul.favoriteTabs li:not(:last-child) {
	border-right: none;
}

ul.favoriteTabs li:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

ul.favoriteTabs li:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

ul.favoriteTabs li.current {
	background-color: #ccf423;
}

.favoriteTab-content {
	display: none;
}

.favoriteTab-content.current {
	display: block;
}

.favoriteCategory {
	display: flex;
	justify-content: end;
}

.favoriteCategory select {
	width: 200px;
}

.favoriteHeader {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
}

.gameInfoBox {
	width: 80%;
}

.favoriteHeader .gameLink {
	margin-right: 15px;
}

.gamePost {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.gamePost>.gameInfoBox {
	display: flex;
}

.gamePost>.gameLink {
	display: flex;
	align-items: center;
}

.gameImg {
	background-color: #ccf423;
	width: 200px;
	height: 150px;
}

.gameInfo {
	margin-left: 15px;
}

.gameInfo .gameTitle {
	font-size: 25px;
	font-weight: 700;
}

.playBtn {
	padding: 20px;
	border: none;
	border-radius: 15px;
}
/* 즐겨찾는 게임 */

/* 게임 기록 */
.recordTabs {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0px;
}

ul.recordTabs li {
	width: calc(100%/ 6);
	text-align: center;
	padding: 10px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	border: 1px solid;
}

ul.recordTabs li:not(:last-child) {
	border-right: none;
}

ul.recordTabs li:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

ul.recordTabs li:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

ul.recordTabs li.current {
	background-color: #ccf423;
}

.recordTab-content {
	display: none;
}

.recordTab-content.current {
	display: block;
}

.recordCategory {
	display: flex;
	justify-content: end;
}

.recordCategory select {
	width: 200px;
}

.recordHeader {
	display: flex;
	margin-top: 10px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 10px;
}

.recordBody {
	margin-top: 10px;
	padding: 10px;
}

.gameRank {
	width: 50px;
	text-align: center;
}

.gameScore, .gameTime {
	width: calc(50% - 25px);
	padding-left: 30px;
}

.recordPost {
	display: flex;
	align-items: center;
	height: 60px;
}

.recordPost .gameInfo {
	display: flex;
	align-items: center;
	position: relative;
	width: calc(100% - 50px);
	margin-left: 0px;
	height: 100%;
	border-radius: 20px;
}

.recordPost .gameInfo:before {
	content: "";
	position: absolute;
	left: 0- translateX(50%);
	width: 5px;
	height: 35px;
	background: #ccf423;
}

.recordPost:nth-child(even) .gameInfo {
	background-color: #7d7d7d30;
}

.gameInfo .gameScore {
	width: 50%;
}

/* 게임 기록 */

/*.memberAddBox {
	width: 1300px;
	margin: auto;
}

.tabBox {
	width: 100%;
}

.deletBtnBox {
	width: 400px;
	margin-left: auto;
}

.deleteBtn {
	margin-bottom: 100px;
	width: 90px;
	height: 30px;
	border-color: #7d7d7d;
	border-radius: 5px;
}*/
.mainTitle {
	padding-left: 5px;
}

/*.title {
	width: 40%;
}*/
.title {
	padding-left: 20px;
}

.tabBox {
	border: 1px solid black;
	border-radius: 5px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 1px solid black;
	display: flex;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 0px;
	cursor: pointer;
	width: 25%;
	text-align: center;
}

ul.tabs li.current {
	background: #ededed;
	background-color: #131217;
	color: #ffffff;
}

.tab-content {
	display: none;
	padding: 15px;
	height: 600px;
	margin: 0px;
}

.tab-content.current {
	display: inherit;
}

#tab-1, #tab-2, #tab-3, #tab-4 {
	overflow: auto;
}

.adminBoard>.boardHeader {
	border-bottom: 2px solid;
	padding: 15px 0px;
}

.adminBoard .title {
	width: 34%;
}

#adminPagination {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

#adminPagination>a {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#adminPagination>a:not(:last-child) {
	margin-right: 10px;
}

#adminPagination>a:hover:not(a.colorWhite.bColorBlue) {
	background-color: #5d6ce130;
}

.adminBoard .pin {
	width: 8%;
}

@media ( max-width : 786px) {
	.nickname {
		font-size: 30px;
	}
	.levelBox>.level {
		font-size: 20px;
	}
	.levelBox>.singDay {
		font-size: 15px;
	}
	.memberInfoBox {
		font-size: 13px;
	}
	.memberBasicTitle {
		font-size: 30px;
		padding-bottom: 20px;
	}
	.infoBox>.infoCagetory {
		width: 150px;
	}
	.phrase {
		font-size: 8px;
	}
	.gameInfoBox {
		width: 70%;
	}
	.gameImg {
		background-color: #ccf423;
		width: 150px;
		height: 100px;
	}
	.adminBoard>.boardHeader>.title {
		width: 80%;
	}
	.adminBoard>.boardHeader>.pin {
		display: none;
	}
	.mainTitle {
		padding-left: 0px;
	}
	#adminPagination>a {
		width: 20px;
		height: 20px;
	}
	.title {
		padding-left: 0px;
	}
	.minBoard .file {
		width: auto;
	}
	.minBoard .pin {
		width: auto;
	}
	
}